<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>conditional statements</h1>
    
    {% if age > 18 %}
    <h1>{{name}} go and vote</h1>
    {% endif %}
     
   
    {% if age > 18 %}
    <h1>{{name}} ready to vote</h1>
    {% else %}
    <h1>{{name}} is a child</h1>
    {% endif %}
   
    
     {% if age == 18 %}
     <h1>{{name}} is a adult</h1>
     {% elif age > 18 %}
     <h1>{{name}} is ready to vote</h1>
     {% else %}
     <h1>{{name}} is not eligible</h1>
     {% endif %}

     
     {% for i in name %}
     <h1>{{i}}</h1>
     {% endfor %}
    </center>
</body>
</html>